@import url(http://fonts.googleapis.com/css?family=Quattrocento);

body {
  padding-top: 15px;
  padding-right: 25px;
  background-image: url(background.jpg);
}

.boxed {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}

.motto {
  font-family: 'Quattrocento', serif;
  font-size: 26px;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  color: rgb(121, 113, 124);

  padding: 20px;
  float: right;
  text-align: center;

  background-color: rgba(237, 233, 145, 0.4);

  border: solid 5px rgba(255, 255, 255, 0.6);
}